#lbs_schema>ul{
    padding: 5px 10px 0 0;
}
.lbs-schema-cap,
#lbs-footer-schema .schema_cap {
    text-transform: capitalize !important;
}
.lbs-footer-list{
    list-style-type: none;
    padding-left: 0;
}
#lbs-schema_city{
    list-style-type: none;
    margin-left: -15px;
}
img.lbs_logo{
    width: 150px;
}
#lbs-footer-schema{
    line-height:1.5;
}

#lbs-footer-schema br{
    display: none;
}
.hours-list{
    list-style-type: none;
}
.lbs-list-inline{
    list-style-type: none;
}
.lbs-list-inline li.lbs-social-item{
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.lbs-brand__name{
    font-size: 1.4em;
    font-weight: bold;
}
.lbs-brand__desc{
    font-size: 1.2em;
}